/*
 * Reader
 */
.l-container:has(.p-novelgood-form) main.l-main {
  width: 100vw !important;
  margin: 0 !important;
}
.l-container:has(.p-novelgood-form) article.p-novel {
  font-weight: 200 !important;
  margin: 0 !important;
  padding: 20px 100px !important;
  width: 100% !important;
  height: calc(100vh - 180px) !important;
  overflow: scroll !important;
  writing-mode: vertical-rl !important;
  box-sizing: border-box !important;
  opacity: 0%;
  transition: opacity 0.2s ease-in-out;
}

/* 明朝体 */
.tategaki-ni-narou-serif:has(.p-novelgood-form) article.p-novel {
  font-family: "Noto Serif JP", serif !important;
  opacity: 100%;
}

/* フォント変更しない */
.tategaki-ni-narou-sanserif:has(.p-novelgood-form) article.p-novel {
  opacity: 100%;
}

/* まえがき */
.l-container:has(.p-novelgood-form) .p-novel__text--preface {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 30px;
  border-bottom: 0 none;
  border-left: 3px double var(--color-ui-border--emphasis);
}

/* あとがき */
.l-container:has(.p-novelgood-form) .p-novel__text--afterword {
  margin-top: 0;
  padding-top: 0;
  padding-right: 30px;
  border-top: 0 none;
  border-right: 3px double var(--color-ui-border--emphasis);
}
/* ページャ移動前 */
.l-container:has(.p-novelgood-form) article.p-novel .c-pager--center,
.l-container:has(.p-novelgood-form) article.p-novel .p-novel__number {
  display: none;
}
/* ページャ移動後 */
.l-container:has(.p-novelgood-form) .c-pager--center {
  margin: 0;
  gap: 60px;
}
.l-container:has(.p-novelgood-form) .c-pager--center .tnn_next-link {
  order: 1;
}
.l-container:has(.p-novelgood-form) .c-pager--center .tnn_prev-link {
  order: 3;
}
.l-container:has(.p-novelgood-form) .c-pager--center .tnn_index-link {
  order: 2;
}
.l-container:has(.p-novelgood-form) .c-pager--center .p-novel__number {
  margin: 0;
  order: 2;
}
.l-container:has(.p-novelgood-form) .c-pager--box .tnn_next-link-box {
  order: 1;
}
.l-container:has(.p-novelgood-form) .c-pager--box .tnn_prev-link-box {
  order: 3;
}
.l-container:has(.p-novelgood-form) .c-pager--box .tnn_index-link-box {
  order: 2;
}
.l-container:has(.p-novelgood-form) .c-pager--box .p-novel__number {
  order: 2;
  display: block;
  margin: 0;
  padding-top: 9px;
  text-align: center;
}

/*
 * タップスクロール領域
 */
.tategaki-left,
.tategaki-right {
  position: absolute;
  height: calc(100vh - 210px);
  width: 15%;
  background-color: transparent;
  border: 0 none;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tategaki-left {
  left: 0;
}
.tategaki-right {
  right: 0;
}
.tategaki-left .help,
.tategaki-right .help {
  display: none;
}

/* 
.novel_bn:has(> div) {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.novel_bn:has(> div) > div {
  visibility: hidden;
}
.novel_bn:has(> div) > div.ready {
  visibility: visible;
}
.novel_bn:has(> div):after {
  display: none;
}

.novel_bn:has(> a) {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-left: 2em;
  padding-right: 2em;
}
.novel_bn:has(> a) > a {
  visibility: hidden;
}
.novel_bn:has(> a) > a.ready {
  visibility: visible;
}
#novel_no {
  display: none;
}

#novel_color #novel_no.ready,
.link-to-index {
  margin: -16px auto 0 auto;
  display: block;
  width: 100px;
  text-align: center;
  font-size: 90%;
} */

/*
 * 縦書きになろうアイコン
 */
.tategaki-ni-narou-icon {
  position: absolute;
  border: 0 none;
  padding: 0;
  top: 11px;
  right: 100px;
  display: flex;
  align-items: center;
}
.tategaki-ni-narou-icon img {
  width: 28px;
  height: 28px;
}
.tategaki-ni-narou-icon .icon-label {
  margin: 0 4px;
  color: #33aa66;
}

/*
 * 縦書きになろうヘルプ
 */
.tategaki-ni-narou-help {
  display: none;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.tategaki-ni-narou-help-open .tategaki-left,
.tategaki-ni-narou-help-open .tategaki-right {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em;
  width: 65%;
  box-sizing: border-box;
}
.tategaki-ni-narou-help-open .tategaki-left .help,
.tategaki-ni-narou-help-open .tategaki-right .help {
  display: block;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content table {
  margin-bottom: 2em;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content td,
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content th {
  padding: 16px 4px;
  vertical-align: middle;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content th:not(:first-child) {
  padding-left: 90px;
}
