#novel_honbun {
  font-weight: 200 !important;
  margin: 0 !important;
  padding: 20px 100px !important;
  width: 100% !important;
  height: calc(100vh - 180px) !important;
  overflow: scroll !important;
  writing-mode: vertical-rl !important;
  box-sizing: border-box !important;
  opacity: 0%;
  transition: opacity 0.2s ease-in-out;
}

.tategaki-ni-narou-serif #novel_honbun {
  font-family: "Noto Serif JP", serif !important;
  opacity: 100%;
}
.tategaki-ni-narou-sanserif #novel_honbun {
  opacity: 100%;
}

#novel_p,
.novel_subtitle {
  display: none;
}
.contents1 {
  position: relative !important;
  margin: 0 !important;
  top: -6px !important;
  min-height: 60px !important;
  width: 100% !important;
  padding: 5px 20px !important;
  text-align: left !important;
  box-sizing: border-box !important;
}
#novel_honbun .novel_subtitle {
  display: block;
  margin: 0 10px;
  font-size: 150%;
}
#novel_honbun #novel_p {
  display: block;
  margin: 0 20px;
  padding: 20px;
  width: auto;
  border-bottom: none;
  border-left: 3px double #999999;
  font-size: 100% !important;
}
#novel_honbun #novel_a {
  display: block;
  margin: 0 20px;
  padding: 20px;
  width: auto;
  border-top: none;
  border-right: 3px double #999999;
  font-size: 100% !important;
}
#novel_contents {
  width: auto !important;
  line-height: 1 !important;
  position: static !important;
}
#novel_color {
  width: 100% !important;
  margin: 0 !important;
}
.tnn-pager {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  font-size: 80%;
}
.tategaki-left,
.tategaki-right {
  position: absolute;
  height: calc(100vh - 210px);
  width: 15%;
  background-color: transparent;
  border: 0 none;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tategaki-left {
  left: 0;
}
.tategaki-right {
  right: 0;
}
.tategaki-left .help,
.tategaki-right .help {
  display: none;
}

.novel_bn:has(> div) {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.novel_bn:has(> div) > div {
  visibility: hidden;
}
.novel_bn:has(> div) > div.ready {
  visibility: visible;
}
.novel_bn:has(> div):after {
  display: none;
}

.novel_bn:has(> a) {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-left: 2em;
  padding-right: 2em;
}
.novel_bn:has(> a) > a {
  visibility: hidden;
}
.novel_bn:has(> a) > a.ready {
  visibility: visible;
}
#novel_no {
  display: none;
}

#novel_color #novel_no.ready,
.link-to-index {
  margin: -16px auto 0 auto;
  display: block;
  width: 100px;
  text-align: center;
  font-size: 90%;
}

.tategaki-ni-narou-icon {
  position: absolute;
  border: 0 none;
  padding: 0;
  top: 11px;
  right: 100px;
  display: flex;
  align-items: center;
}
.tategaki-ni-narou-icon img {
  width: 28px;
  height: 28px;
}
.tategaki-ni-narou-icon .icon-label {
  margin: 0 4px;
  color: #33aa66;
}

.tategaki-ni-narou-help {
  display: none;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.tategaki-ni-narou-help-open .tategaki-left,
.tategaki-ni-narou-help-open .tategaki-right {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em;
  width: 65%;
  box-sizing: border-box;
}
.tategaki-ni-narou-help-open .tategaki-left .help,
.tategaki-ni-narou-help-open .tategaki-right .help {
  display: block;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content table {
  margin-bottom: 2em;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content td,
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content th {
  padding: 16px 4px;
  vertical-align: middle;
}
.tategaki-ni-narou-help-open .tategaki-ni-narou-help .content th:not(:first-child) {
  padding-left: 90px;
}
