.widget-episode-inner {
    width: 100% !important;
    max-width: 100% !important;
}
.widget-episodeBody {
    font-family: "Source Han Serif JP", "Hiragino Mincho", Serif !important;
    font-weight: 200 !important;
    writing-mode: vertical-rl !important;
    height: calc(100vh - 210px) !important;
    width: 100% !important;
    overflow: scroll !important;
    padding: 20px 0 !important;
}
#contentMain-header {
    display: none;
}
#page-works-episodes-episode.writingDirection-horizontal .widget-episodeBody #contentMain-header {
    display: block;
}
#page-works-episodes-episode.writingDirection-horizontal .widget-episodeBody #contentMain-header .widget-episodeTitle {
    margin: 0;
    padding: 0 20px;
}