#novel_honbun {
    font-family: "Noto Serif JP", Serif !important;
    font-weight: 200 !important;
    margin: 20px 0 !important;
    padding: 0 100px !important;
    width: 100% !important;
    height: calc(100vh - 210px) !important;
    overflow: scroll !important;
    writing-mode: vertical-rl !important;
    box-sizing: border-box !important;
}
#novel_p, .novel_subtitle {
    display: none;
}
.contents1 {
    position: relative !important;
    margin: 0 !important;
    top: -6px !important;
    min-height: 60px !important;
    width: 100% !important;
    padding: 5px 20px !important;
    text-align: left !important;
    box-sizing: border-box !important;
}
#novel_honbun .novel_subtitle {
    display: block;
    margin: 0 10px;
    font-size: 150%;
}
#novel_honbun #novel_p {
    display: block;
    margin: 0 20px;
    padding: 20px;
    width: auto;
    border-bottom: none;
    border-left: 3px double #999999;
    font-size: 100% !important;
}
#novel_honbun #novel_a {
    display: block;
    margin: 0 20px;
    padding: 20px;
    width: auto;
    border-top: none;
    border-right: 3px double #999999;
    font-size: 100% !important;
}
#novel_contents {
    width: auto !important;
    line-height: 1 !important;
    position: static !important;
}
#novel_color {
    width: 100% !important;
    margin: 0 !important;
}
.tnn-pager {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    font-size: 80%;
}
.novel_bn____ {
    display: none;
}
