#novel_honbun {
    font-family: "Noto Serif JP", Serif !important;
    font-weight: 200 !important;
    margin: 20px 0 !important;
    padding: 0 100px !important;
    width: 100% !important;
    height: calc(100vh - 210px) !important;
    overflow: scroll !important;
    writing-mode: vertical-rl !important;
    box-sizing: border-box !important;
}
#novel_p, .novel_subtitle {
    display: none;
}
.contents1 {
    position: relative !important;
    margin: 0 !important;
    top: -6px !important;
    height: 60px !important;
    width: 100% !important;
    padding: 5px 20px !important;
    text-align: left !important;
    box-sizing: border-box !important;
}
#novel_honbun .novel_subtitle {
    display: block;
    margin: 0 10px;
    font-size: 150%;
}
#novel_honbun #novel_p {
    display: block;
    margin: 0 20px;
    padding: 20px;
    width: auto;
    border-bottom: none;
    border-left: 3px double #999999;
    font-size: 100% !important;
}
#novel_honbun #novel_a {
    display: block;
    margin: 0 20px;
    padding: 20px;
    width: auto;
    border-top: none;
    border-right: 3px double #999999;
    font-size: 100% !important;
}
#novel_contents {
    width: auto !important;
}
#novel_color {
    width: 100% !important;
    margin: 0 !important;
}
#novel_color>.novel_bn:first-child {
    position: absolute;
    width: 200px;
    right: 20px;
    top: -73px;
}
#novel_color>.novel_bn:last-child {
    margin: 0 15%;
}
/* PC */
.novel_bn>a:first-child {
    display: none;
    float: right;
}
.novel_bn>a:nth-child(2) {
    display: none;
    float: left;
}
/* Mobile */
.novel_bn>.link_next {
    display: inline;
    float: left;
}
.novel_bn>.link_back {
    display: none;
}
.novel_bn>.link_prev {
    display: inline;
    float: right;
}
.novel_bn:after {
    content: "";
    clear: both;
    display: block;
}
#novel_color #novel_no {
    position: absolute;
    margin-top: -5em;
    display: block;
    width: 150px;
    left: 50%;
    margin-left: -75px;
}
