#novel_honbun {
    font-family: "Source Han Serif JP", "Hiragino Mincho", Serif !important;
    font-weight: 200 !important;
    margin: 20px 0 !important;
    padding: 20px 100px !important;
    width: 100% !important;
    height: calc(100vh - 210px) !important;
    overflow: scroll !important;
    writing-mode: vertical-rl !important;
    box-sizing: border-box !important;
}
#novel_p, .novel_subtitle {
    display: none;
}
.contents1 {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 48px !important;
    width: 100% !important;
    height: 45px !important;
    padding: 12px 20px !important;
    text-align: left !important;
    box-sizing: border-box !important;
}
#novel_honbun .novel_subtitle {
    display: block;
    margin: 0 10px;
    font-size: 150%;
}
#novel_honbun #novel_p {
    display: block;
    margin: 0 20px;
    padding: 20px;
    width: auto;
    border-bottom: none;
    border-left: 3px double #999999;
    font-size: 100% !important;
}
#novel_contents {
    width: auto !important;
}
#novel_color {
    width: 100% !important;
    margin: 0 !important;
}
#novel_color>* {
    width: 730px;
    margin-left: auto;
    margin-right: auto;
}
.novel_bn {
	width:300px !important;
	margin: 0 auto !important;
}
.novel_bn a:first-child {
	float: right;
}
.novel_bn a:nth-child(2) {
	float: left;
}
.novel_bn:after {
    content: "";
    clear: both;
    display: block;
}
#novel_color #novel_no {
    text-align: center;
    width: 100%;
    margin-top: -1.8em;

}
